.caja-contador{
    background-color: blue;
    width: 60%;
    display: flex;
    justify-content: space-around;/*cada numero se separa ocupando todo el ancho del contenedor*/
    margin: 0 auto; /* marging 0 arriba y abajo auto  izquierda y derecha*/
    padding: 1rem;
} 
 
.numero{
    color: yellow;
    font-weight: bolder/* hacemos la fuente mas gruesa*/;
    font-size: 1.5rem; /*tamaño de los numeros*/
 }
